node_modules
dist
.idea
.vscode

*.iml
*.saz
*.zip
*.apk
*.xapk
*.stackdump

HWPL_Data/assets_raw
HWPL_Data/assets
assets_apk_raw
assets_apk
generated
temp
output
temp.js
scripts/temp.ts
tools\afs2\temp
