.no-detail {
  &.v-input {
    .v-input__details {
      height: 0;
      min-height: 0;
      padding: 0;
    }
  }
}

.hwpl-icon {
  // icons of HWPL have 12px radius
  // we can use the same radius in icon wrapper, or something like that
  border-radius: 12px !important;
}