// usage:
// @media (min-width: $md) {
//   .container {
//     styles when >= md
//   }
// }
// @media not (min-width: $md) {
//   .container {
//     style when < md
//   }
// }
$md: 960px;

// https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines
.text-overflow-ellipsis-on-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// make v-switch group displays as flex & wrap on desktop,
// while displays as multiline on mobile
.switch-group {
  // on desktop
  @media (min-width: $md) {
    display: flex;
    flex-flow: wrap;

    & .v-switch {
      justify-items: center;
    }
  }

  // on mobile
  @media not (min-width: $md) {
    & .v-switch {
      display: block;
      margin-left: 32px;
    }
  }
}

// wrapper of hwpl-icon
.hwpl-icon {
  // icons of HWPL have 12px radius
  // we can use the same radius on wrapper of hwpl-icon
  border-radius: 12px !important;
}

// add color for icon inside component
.icon-primary {
  & .v-icon {
    color: rgb(var(--v-theme-primary)) !important
  }
}